<div class="d">
        <br><br><br><br><br><br><br><br><br><br>
    <mat-card>
      <br>
      <section class="mat-typography">
        <h3 style="text-align:center">User Registration</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" class="create-form">
  
          <mat-form-field class="field-full-width">
              <input matInput placeholder="User Id" formControlName="userId" #userId>
          </mat-form-field>
  
          <mat-form-field class="field-full-width">
              <input matInput placeholder="Password" formControlName="password" #password type="password">
          </mat-form-field>
  
          <mat-divider></mat-divider>
        <br><br>
        <div>
            <button style="margin-left: 60px" type="button" mat-raised-button color="accent" routerLink="/login">Back</button>&nbsp;
            <button style="margin-left: 40px" type="submit" (click)=" addUser(userId.value,password.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Register</button>
        </div>
      </form>
    </mat-card>
    <br><br><br><br><br><br><br><br><br><br>
  </div>