.create-form{
    width:75%;
    margin: 0 auto;
}

.field-full-width{
    width:100%;
}

.mat-card{
    background-color: rgba(182, 253, 255, 0.2);
    width: 30%;
    margin:0 auto;
}

/* Add background image */
.d{
    max-width: 100%;
    max-height: 100%; 
    background-image: url(images/xx.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
}
