<div>
  <mat-card class="divColor">
    <mat-form-field>

      <!--
        Apply the filter using the input 
      -->
      <input matInput class="warn" (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <br>
    <mat-divider></mat-divider>
    <br>

    <!--
      Sort the table using angular material
      Display the columns and the respective information
      Sort the table using angular material
    -->
    <table mat-table [dataSource]="dataSource" class="table" matSort>
      <ng-container matColumnDef="studentId">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right" mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">{{element.studentId}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right" mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right" mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">{{element.address}}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right" mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">{{element.phone}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right" mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">{{element.email}}</td>
      </ng-container>

      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right" mat-sort-header>Course</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">{{element.course}}</td>
      </ng-container>

      <ng-container matColumnDef="studentType">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right" mat-sort-header>Full/Part Time</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">{{element.studentType}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right" mat-sort-header>Controls</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-icon-button color="primary" (click)="editStudent(element._id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="warn" (click)="deleteStudent(element._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>

    <!--
      Pagination for the table
    -->
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons class="table"></mat-paginator>
  </mat-card>
</div>