<!--
  Design the page using different froms and CSS files
  Use Angular material to create different controles
-->
<div class="d">
    <br><br><br><br><br><br><br><br><br><br><br><br>
  <mat-card>
    <br>
    <section class="mat-typography">
      <h3 style="text-align:center">User Login</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">

        <mat-form-field class="field-full-width">
            <input matInput placeholder="User Id" formControlName="userId" #userId>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Password" formControlName="password" #password type="password">
        </mat-form-field>

        <mat-divider></mat-divider>
      <br><br>
      <div>
          <button style="margin-left: 60px" type="submit" (click)="getUserss(userId.value,password.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Login</button>
          <button style="margin-left: 40px" type="button" mat-raised-button color="accent" routerLink="/login/register">Register</button>&nbsp;
      </div>
    </form>   
  </mat-card>
  <br><br><br><br><br><br><br><br><br><br><br><br>
</div>